@import "settings";
@import "foundation";
@import "normalize";


@media screen and (min-width: 640px) {
    .top-bar-section > ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
    }
    .top-bar-section > ul > li {
        float: none;
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
    }
    .top-bar-section > ul > li > a {
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
    }
}
@media #{$small-only} { 
 .top-bar-section {
  z-index: 1001;
  font-size: 28pt;
  
 }

}

@media #{$medium-only} { 
.logo{width: 221px;
height: 87px;
}
}

@media #{$medium-up} { 

.top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
background: rgba(0,0,0,0);
color: $gtnp_green;
font-weight: 600;
font-size: 9.8pt;
letter-spacing: 0.04rem;
z-index:1000;

}

.top-bar-section .has-dropdown > a:after {
    border-color: $gtnp_green rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: $gtnp_green none repeat scroll 0% 0%;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background: $gtnp_green none repeat scroll 0% 0%;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: $gtnp_green none repeat scroll 0% 0%;
}

.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {

    background: $gtnp_dark_green none repeat scroll 0% 0%;
}

}

.top-bar .toggle-topbar.menu-icon {
    margin-top: -23px;
}
.top-bar .toggle-topbar.menu-icon a {
    background-color: white;
    position: relative;
    line-height: 33px;
    color: #FFF;
    height: 45px;
padding: 0rem 3rem 0rem 0rem;
}





.white {
    font-family: $font-family-sans-serif;
    font-size: 9pt;
    color: $white;
}
.def_icon_desc {
    margin-top: 0.55rem;
}
.def_icon {
    margin-top: 0.35rem;
}
#fbicon,
#camicon {
    margin-left: 8px;
}
.weather_temp {
    font-size: 1.8rem;
    margin-top: -0.25rem;
    font-weight: 600;
    height: 2rem;
}
.weather_desc {
    font-family: $font-family-serif;
    font-size: 9pt;
    color: $white;
    letter-spacing: 0.04rem;
    line-height: 0.9rem;
    padding-top: 0.2rem;
}
.orbit-container .orbit-slides-container > * .right-orbit {
    background-color: transparent;
    bottom: 0;
    font-size: 0.875rem;
    padding: 0.625rem 0.875rem;
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0% 50% 0%;
}
.top-bar-margin {
    margin: -36px auto;
}
.top-bar-color-bg {
    background-color: $gtnp_green;
    height: 2.25rem;
}
.search-but {
    position: relative;
    background-color: $gtnp_dark_green;
    padding: 0.1rem 0.5rem 0.4rem;
    height: 1.75rem;
}
.search-but:hover,
.search-but:focus {
    background-color: $gtnp_dark_gray;
}
.searchpad {
    padding-top: 0.17rem;
}
.search {
    height: 1.75rem !important;
    margin: 0.2rem 0px 0.25rem !important;
    padding: 0rem 0.5rem 0rem !important;
    color: $gtnp_green !important;
}
.logo {
    margin-top: -2.4rem;
}
.smlogo {
    z-index: 1000;
    position: absolute;
}
.nopadding {
    padding: 0rem 0rem 0rem;
}
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
h6 {
    color: $white;
    font-size: 1rem;
    font-family: $font-family-serif;
    margin: 0rem 0rem 0rem;
}
// 
.bar-color-bg {
    background-color: $gtnp_light_green2;
    
}

.activities-bar-color-bg  {
    background-color: $gtnp_dark_green;
    
    height: 3rem;
    display: table; 
    overflow: hidden;
    width: 100%;
     a {
    color: $white;
    font-weight: 300;
  }
}
.middle
{

display: table-cell;
vertical-align: middle;

}

.text-align-center {
    text-align: center;
}
// Tri CSS
.tri-bar-color-bg  {
    background-color: $gtnp_dark_green;
    color: $white;
    background-clip:content-box;
}


// Quad CSS
.padded-bottom{
padding-bottom: 2rem;

}

// footer CSS
.footer {
    background-color: $gtnp_gray;
    text-align: left;
    color: $gtnp_dark_gray;
    i {
        font-size: 100px;
    }
}

@media #{$small-only} { 
.footer {
  text-align: center;
}
}

h5{
    color: $gtnp_green;
    font-family: $font-family-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px; 
    text-align: center;
  }

.footer {

  h4 {
    color: $gtnp_green;
    font-family: $font-family-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 10px; 
  }
  
  h3 {
  color: $gtnp_dark_gray;
  font-family: $font-family-serif;
   text-align: center;
   font-size: 1rem;
  }
  p {
    font-weight: 300; 
    font-size: 0.8rem;
  }
}

.footer-links {
  list-style-type: none;
  a {
    color: $gtnp_dark_gray;
    font-weight: 300;
    font-size: 0.8rem;
  }
  li {
    margin-top: 0.5rem;
  }

 margin-left:0rem;
}
.bottom-bar-color-bg{
background-color: $gtnp_light_green; 
height: 2.25rem;
}

.wrapper{  
    float:left;
    position:relative; /* important(so we can absolutely position the description div */  
}  


.description{
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:5px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
	background:rgba(255,255,255,0.3);
	color:#fff;
}  

.dc {
    padding:10px; margin:0px;color:#434343;
}



// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
