///////////////////////////////////
// D O  N O T  D U P L I C A T E.


@media #{$medium-down} {
  .search-but {
    background-color:  $theme_color_base_dark;
  }
  .search {
    color: $theme_color_base !important;
  }

  .sm-green-color-bg {
    background-color: $theme_color_base;
  }

  .top-bar, .top-bar.expanded .title-area {
    background: $theme_color_base !important;
  }

  .top-bar-section .dropdown li a {
    color: $gtnp_dark_gray !important;
  }

}

.bookbut .button{
  background-color: $theme_color_base;

}

.top-bar-section ul li:hover:not(.has-form) > a, .top-bar-section li:not(.has-form) a:not(.button):hover {
  background:  $theme_color_base_dark none repeat scroll 0% 0%;
}

.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
  background: $theme_color_base none repeat scroll 0% 0%;
}

////////////////////////////////////////////////
// THIS IS LARGE UP LAYOUT
@media #{$large-up} {
  .top-bar-color-bg {
    background-color: $theme_color_base;
  }

  .search-but {
    background-color: $theme_color_base_dark;
  }

  .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: $theme_color_base;
  }

  .top-bar-section .has-dropdown > a:after {
    color: $theme_color_base_dark;
  }

  .top-bar-section .has-dropdown:hover > a:after {
    color: white;
  }

  .no-right-padding{
    padding-right: 0;
  }

}

// THIS SETS COLOR AND BACKGROUND FOR FULLSIZE MENU TO OVERIDE MOBILE MENU
.top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
  color: $theme_color_base;
}
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
  background: $theme_color_base_dark none repeat scroll 0% 0%;
}

